@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff6cfde;
  text-align: center;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: 10px;
  width: 1220px;
  max-width: 100%;
  margin: 2rem auto 0 auto;
}
h1 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 500;
}

p {
  opacity: 0.8;
}

main {
  margin-top: 2rem;
}

h2 {
  font-weight: 500;
}

h6 {
  letter-spacing: 1.5px;
  color: rgba(0, 0, 0, 0.438);
}

h3 {
  font-size: 35px;
}
.grid {
  display: grid;
  margin: 2rem 0;
  grid-template-columns: 1fr 1fr;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 3rem;
  grid-gap: 30px;
}

.g-box {
  background-color: #fff;
  box-shadow: 0 0 35px 0 rgba(73, 80, 87, 0.15);
  text-align: left;
  padding: 1.5rem;
  border-radius: 15px;
}

.g-heading {
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .grid {
    max-width: 340px;
  }
  .g-box {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
